/*
* @Author: Administrator
* @Date:   2016-10-11 10:31:08
* @Last Modified by:   Administrator
* @Last Modified time: 2016-10-11 15:38:03
*/
body {
  background-color: #fff;
  padding: 1px;
}

.dl-login {
  width: 1000px;
  height: 400px;
  margin: 20px auto 50px;
}
.dl-login .dl-login-img {
  float: left;
  width: 450px;
  height: 350px;
  position: relative;
  z-index: 1;
}
.dl-login .dl-login-img img {
  width: 450px;
  height: 350px;
}
.dl-login .dl-logoin-layout {
  width: 400px;
  height: 400px;
  margin: 10px auto;
  float: right !important;
  display: inline;
  background-color: #f9f9f9;
  border: #d8d8d8 solid;
  border-width: 0 1px;
}
.dl-login .dl-logoin-layout .dl-logoin-title {
  width: 400px;
  height: 60px;
}
.dl-login .dl-logoin-layout .dl-logoin-title h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  padding: 15px 0 25px 25px;
  color: #555;
}
.dl-login .dl-logoin-layout .dl-logoin-centent {
  height: 340px;
  padding-top: 20px;
  overflow: hidden;
}
.dl-login .dl-logoin-layout .dl-logoin-centent dl {
  position: relative;
  margin-top: 10px;
  width: 100%;
  float: left;
  padding: 0;
}
.dl-login .dl-logoin-layout .dl-logoin-centent dl dt {
  font-size: 12px;
  line-height: 28px;
  float: left;
  width: 40px;
  text-align: right;
  height: 40px;
  position: relative;
  left: 51px;
  z-index: 1;
  top: 1px;
}
.dl-login .dl-logoin-layout .dl-logoin-centent dl .lable {
  background: #ddd url(../img/zhuce/yonghuming.png) no-repeat center;
}
.dl-login .dl-logoin-layout .dl-logoin-centent dl .lables {
  background: #ddd url(../img/zhuce/mima.png) no-repeat center;
}
.dl-login .dl-logoin-layout .dl-logoin-centent dl dd {
  text-align: left;
  width: 75%;
  float: right;
}
.dl-login .dl-logoin-layout .dl-logoin-centent dl dd .text {
  width: 220px;
  height: 20px;
  line-height: 20px;
  background: #fff;
  position: absolute;
  left: 50px;
  border: 1px solid #bbb;
}
.dl-login .dl-logoin-layout .dl-logoin-centent dl dd .text.dl-login-tip {
  border: 1px solid #ecba0b;
}
.dl-login .dl-logoin-layout .dl-logoin-centent dl dd .error {
  position: relative;
  top: 39px;
  clear: both;
  float: left;
  line-height: 26px;
  height: 26px;
  width: 210px;
  margin: 0;
  color: red;
}
.dl-login .dl-logoin-layout .dl-logoin-centent dl .dl-login-submit {
  font-size: 14px;
  font-weight: 700;
  color: #FFF;
  background: url(../img/zhuce/login.png) no-repeat scroll 0px -56px;
  vertical-align: middle;
  width: 98px;
  height: 34px;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
}
.dl-login .dl-logoin-layout .dl-logoin-centent dl a {
  font-weight: 700;
  font-size: 12px;
  color: #06c;
  margin-left: 10px;
  line-height: 28px;
  height: 28px;
  text-align: left;
}
.dl-login .dl-logoin-layout .dl-logoin-centent .mt10 {
  margin: 10px 0 0 10px;
  font-size: 12px;
}
.dl-login .dl-logoin-layout .dl-logoin-centent .dl-register {
  font-weight: 600;
  line-height: 26px;
  color: #555;
  background: #FFF url(../imG/zhuce/login.png) no-repeat scroll -98px -56px;
  text-align: center;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin: 0 6px;
}
.dl-login .dl-logoin-layout .dl-logoin-centent .dl-login-other {
  font-size: 12px;
  border-top: dashed 1px #D8D8D8;
  padding: 10px 0px 20px 28%;
}
.dl-login .dl-logoin-layout .dl-logoin-centent .dl-login-other a {
  text-decoration: none;
  display: inline-block;
  background: url(../img/zhuce/login.png) no-repeat scroll;
  vertical-align: middle;
  margin-top: 10px;
  height: 28px;
  color: #999;
}
.dl-login .dl-logoin-layout .dl-logoin-centent .dl-login-other .qq {
  background-position: -88px 0px;
  width: 78px;
}
.dl-login .dl-logoin-layout .dl-logoin-centent .dl-login-other .sina {
  background-position: -166px 0px;
  width: 88px;
}
.dl-login .dl-logoin-layout .dl-logoin-centent .dl-login-other .alipay {
  background-position: 0px -200px;
  width: 80px;
}

/*# sourceMappingURL=enter.css.map */
