/*
* @Author: Administrator
* @Date:   2016-10-11 16:27:09
* @Last Modified by:   Administrator
* @Last Modified time: 2016-10-13 15:59:03
*/
body, html {
  background: #fff;
}

.con {
  width: 1200px;
  margin: 0 auto;
}

.wrapper {
  height: 44px;
  border-bottom: 2px solid #B1191A;
}
.wrapper .container .categorys .cg-content {
  display: none;
}

.endif {
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  margin: 10px auto;
}
.endif a:hover {
  text-decoration: underline;
  color: red;
}
.endif dl {
  position: relative;
  float: right;
  width: 65px;
  margin-right: 10px;
}
.endif dl i {
  position: absolute;
  border-top: 5px solid #000;
  border-left: 4px solid rgba(1, 1, 1, 0);
  border-right: 4px solid rgba(1, 1, 1, 0);
  top: 7px;
  left: 53px;
}
.endif dl dd {
  display: none;
  position: absolute;
  left: -1px;
}
.endif dl:hover {
  border: #ccc solid;
  border-width: 1px 1px 0;
}
.endif dl:hover dd {
  display: block;
  width: 65px;
  border: #ccc solid;
  border-width: 0 1px 1px;
}
.endif dl:hover i {
  border-top: 0;
  border-bottom: 5px solid #000;
  border-left: 4px solid rgba(1, 1, 1, 0);
  border-right: 4px solid rgba(1, 1, 1, 0);
}

/* addclass */
.xqgoodsImg {
  width: 1200px;
  height: 620px;
  margin-top: -50px;
}

/* xq_centen */
#xq_centen {
  position: relative;
  margin: 10px;
}
#xq_centen .xq_goods {
  position: relative;
  width: 380px;
}
#xq_centen .xq_goods .xq_goods_abg {
  width: 380px;
  height: 460px;
  position: relative;
}
#xq_centen .xq_goods .xq_goods_abg .xq_goods_img {
  background: #fff;
  position: absolute;
  height: 360px;
  width: 360px;
  left: 10px;
  top: 50px;
  opacity: 1;
  cursor: pointer;
  z-index: 80;
  text-align: center;
}
#xq_centen .xq_goods .xq_goods_abg .xq_goods_img img {
  height: 360px;
  width: 360px;
}
#xq_centen .xq_goods .xq_goods_abg .xq_goods_img .xq_goods_shut {
  position: absolute;
  top: -11px;
  right: -11px;
  font: lighter 20px/20px Verdana;
  color: #CCC;
  background-color: #FFF;
  text-align: center;
  display: none;
  width: 22px;
  height: 22px;
  border: solid 1px #CCC;
  border-radius: 24px;
  overflow: hidden;
}
#xq_centen .xq_goods ul {
  height: 64px;
  position: absolute;
  width: 380px;
  left: 0;
  right: 0;
  z-index: 81;
}
#xq_centen .xq_goods ul li {
  display: inline-block;
  width: 70px;
}
#xq_centen .xq_goods ul li a {
  background-color: #FFF;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  padding: 1px;
  border: 1px solid #EEE;
  overflow: hidden;
}
#xq_centen .xq_goods ul li a.optFor{
  padding: 0;
  border-width: 2px;
  border-style:solid;
  border-color: #D93600;
}
#xq_centen .xq_goods ul li a img {
  max-height: 60px;
  max-width: 60px;
}
#xq_centen .xq_goods  .cut {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  text-indent: -99px;
  background: url(../img/xq/2014_ncs_public_img.png) no-repeat -12px 0;
  display: block;
  width: 10px;
  height: 20px;
  display: none;
  overflow: hidden;
  cursor: pointer;
}
#xq_centen .xq_goods  .xq_gs_right {
  background-position: -22px 0;
  right: 0px;
  margin-left: 9px;
}
#xq_centen .ncs_kjzp {
  width: 311px;
  height: 30px;
  position: relative;
  padding: 5px 10px;
  margin: 80px 0 0 20px;
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.1);
  zoom: 1;
}
#xq_centen .ncs_kjzp li {
  float: left;
  margin: 0px 0px 0px 20px;
}
#xq_centen .ncs_kjzp li i {
  width: 19px;
  height: 15px;
  background: url(../img/xq/img.png);
  vertical-align: middle;
  display: inline-block;
  margin: 0px 5px;
}
#xq_centen .ncs_kjzp li .pigou i {
  background-position: 0px -15px;
}
#xq_centen .ncs_kjzp li .xinqi i {
  background-position: 0px -30px;
}
#xq_centen .xq_goods_t_left {
  float: left;
  width: 380px;
}
#xq_centen .xq_goods_right {
  float: right;
  width: 790px;
  height: 100%;
}
#xq_centen .xq_goods_right .xq_goods_name {
  padding-bottom: 10px;
  border-bottom: dotted 1px #CCC;
}
#xq_centen .xq_goods_right .xq_goods_name h2 {
  font: 700 16px/1.2em "Microsoft Yahei";
  text-overflow: ellipsis;
  display: block;
}
#xq_centen .xq_goods_right #gfdp{
  position: absolute;
 border: 1px solid #ccc;
  top: 66px;
  right: -13px;
}
#xq_centen .xq_goods_right dl {
  position: relative;
}
#xq_centen .xq_goods_right dl dt {
  text-align: right;
  width: 14%;
  margin-right: 1%;
}
#xq_centen .xq_goods_right dl dd {
  text-align: left;
  width: 84%;
}
#xq_centen .xq_goods_right dl dd, #xq_centen .xq_goods_right dl dt {
  font-size: 12px;
  line-height: 20px;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  min-height: 20px;
  padding: 4px 0;
}
#xq_centen .xq_goods_right .xq_goods_mete {
  width: 560px;
  height: 120px;
}
#xq_centen .xq_goods_right .xq_goods_mete .xq-freight #ncrecive {
  background: url(../img/xq/public.png) no-repeat 100% -103px;
  padding: 0 11px 0 1px;
}
#xq_centen .xq_goods_right .xq_goods_mete .xq-freight .xq-qu-show{
    display: block;
    border: solid 2px #F90;
    width: 415px;
    background: #FFF;
    padding: 6px;
    position: absolute;
    z-index: 80;
    top: 28px;
    left: 12px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgba(0,0,0,.3);
    display: none;
}
#xq_centen .xq_goods_right .xq_goods_mete .xq-freight .xq-qu-show.xq-tope{
  display: block;
}
#loading_price{
  display:none;
}
#xq_centen .xq_goods_right .xq_goods_mete .xq-freight .xq-qu-show a{
    padding: 0 11px 0 1px;
    width: 60px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}
#xq_centen .xq_goods_right .xq_goods_mete .xq-freight .xq-qu-show a:hover{
  background: #F90;
   border-radius: 4px;
}
#xq_centen .xq_goods_right .xq_goods_mete dl .price strong {
  font-size: 20px;
  font-weight: 600;
  color: #D93600;
  vertical-align: middle;
}
#xq_centen .xq_goods_right .xq_goods_mete dl .xq_raty {
  float: left;
}
#xq_centen .xq_goods_right .xq_goods_mete dl a {
  color: #005AA0;
  vertical-align: top;
  display: inline-block;
  margin-left: 7px;
}
#xq_centen .xq_goods_right .xq_goods_mete dl .transport_price span {
  margin-right: 10px;
}
#xq_centen .xq_goods_right .xq_key {
  width: 560px;
  border-top: solid 1px #EEE;
  padding-top: 6px;
  margin-top: 4px;
  height: 187px;
}
#xq_centen .xq_goods_right .xq_key #quantity {
  font: 12px/20px Tahoma;
  color: #777;
  background-color: #FFF;
  vertical-align: top;
  display: inline-block;
  height: 20px;
  padding: 4px;
  border: solid 1px #CCC;
  outline: 0 none;
}
#xq_centen .xq_goods_right .xq_key b.vip {
  font-size: 13px;
  background-color: #c40000;
  border-radius: 2px;
  color: #fff;
  font-weight: 400;
  margin: 0px 8px 0px 0px;
  padding-left: 2px;
}
#xq_centen .xq_goods_right .xq_key .vip_span {
  background-color: #600;
  border-radius: 2px;
  margin-left: 2px;
  padding: 0 2px;
  text-decoration: none;
}
#xq_centen .xq_goods_right .xq_key .ncs-figure-input1 .info {
  background-color: #E5383C;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  padding: 0px 15px;
  position: relative;
}
#xq_centen .xq_goods_right .xq_key .ncs-figure-input1 .info a {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  position: relative;
}
#xq_centen .xq_goods_right .xq_key .ncs-figure-input1 a {
  color: #00549D;
}
#xq_centen .xq_goods_right .xq_key .ncs-figure-input1 a:hover {
  color: red;
}
#xq_centen .xq_goods_right .xq_key .ncs-btn {
  display: inline-block;
  height: 80px;
  padding-right: 10px;
  margin: 10px 0 0 0;
  position: relative;
  z-index: 70;
}
#xq_centen .xq_goods_right .xq_key .ncs-btn a {
  font: lighter 16px/20px "Microsoft Yahei";
  color: #FFF;
  text-align: center;
  display: inline-block;
  height: 20px;
  padding: 6px 18px;
  margin-right: 10px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.25);
}
#xq_centen .xq_goods_right .xq_key .ncs-btn .buynow {
  background-color: #BA7538;
  background-color: #FFC35C;
  border: 1px solid #AA8B51;
  -webkit-filter: saturate(1.5);
  background-image: -moz-linear-gradient(top, #FFC35C, #F29604);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFC35C), color-stop(1, #F29604));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC35C', endColorstr='#F29604', GradientType='0');
}
#xq_centen .xq_goods_right .xq_key .ncs-btn .addcart {
  background-color: #E63D40;
  border: 1px solid #AB4950;
  -webkit-filter: saturate(1.5);
  background-image: -moz-linear-gradient(top, #F76669, #EE4E52);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F76669), color-stop(1, #EE4E52));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F76669', endColorstr='#EE4E52', GradientType='0');
}
#xq_centen .xq_goods_right .xq_key .ncs-btn .buy_fenqi {
  background-color: #5BA0E3;
  border: 1px solid #006CC7;
  -webkit-filter: saturate(1.5);
  background-image: -moz-linear-gradient(top, #50A5E5, #006CC8);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #50A5E5), color-stop(1, #006CC8));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50A5E5', endColorstr='#006CC8', GradientType='0');
  font: lighter 16px/20px "Microsoft Yahei";
  color: #FFF;
  text-align: center;
  display: inline-block;
  height: 20px;
  padding: 6px 18px;
  margin-right: 10px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.25);
}
#xq_centen .xq_goods_right .xq_key .ncs_share {
  width: 132px;
  background-color: #FAFAFA;
  display: block;
  padding: 5px 0;
  margin: 10px 0 0 20px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  border: solid 1px #E6E6E6;
  box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.1);
  overflow: hidden;
  zoom: 1;
}
#xq_centen .xq_goods_right .xq_key .ncs_share a {
  color: #005EA6;
  display: inline-block;
  height: 20px;
  padding: 0 8px;
  margin-left: -1px;
  border-left: solid 1px #E6E6E6;
}
#xq_centen .xq_goods_right .xq_key .jiathis_style_24x24 .jiathis_txt {
  float: left;
  font-size: 22px;
  text-decoration: none;
  line-height: 24px !important;
}
#xq_centen .xq_goods_right .xq_key .jiathis_style_24x24 .jtico {
  text-align: left;
  overflow: hidden;
  display: block !important;
  height: 24px !important;
  line-height: 24px !important;
  padding-left: 28px !important;
  background: url(../img/xq/jiathis_ico_24x24.png) no-repeat left;
  cursor: pointer;
}
#xq_centen .xq_goods_right .xq_key .jiathis_style_24x24 .jtico_tsina {
  background-position: 0px -144px;
}
#xq_centen .xq_goods_right .xq_key .jiathis_style_24x24 .jtico_tqq {
  background-position: 0px -216px;
}
#xq_centen .xq_goods_right .xq_key .jiathis_style_24x24 .jtico_qzone {
  background-position: 0px -96px;
}
#xq_centen .xq_goods_right .xq_key .jiathis_style_24x24 .jtico_cqq {
  background-position: 0px -3024px;
}
#xq_centen .xq_goods_right .xq_key .jiathis_style_24x24 .jtico_weixin {
  background-position: 0px -2712px;
}
#xq_centen .xq_goods_right .xq_key .jiathis_style_24x24 .jtico_renren {
  background-position: 0px -240px;
}
#xq_centen .xq_goods_right .xq_key .jiathis_style_24x24 .jtico_douban {
  background-position: 0px -840px;
}
#xq_centen .xq_goods_right .ncs-figure-input a {
  font: 11px/12px sans-serif, serif, Arial;
  color: #AAA;
  background-color: #FFF;
  text-align: center;
  display: block;
  width: 16px;
  height: 12px;
  border: solid 1px #CCC;
  position: absolute;
  z-index: 1;
  left: 140px;
  -webkit-text-size-adjust: none;
}
#xq_centen .xq_goods_right .ncs-figure-input .increase {
  top: 4px;
}
#xq_centen .xq_goods_right .ncs-figure-input .decrease {
  top: 20px;
}

/*# sourceMappingURL=spxqym.css.map */
