/*
* @Author: Administrator
* @Date:   2016-10-09 15:05:14
* @Last Modified by:   Administrator
* @Last Modified time: 2016-10-09 18:01:41
*/
/* 侧边栏 */
.sidebar{
	width: 40px;
	min-height: 100%;
	background-color: #2C2C2C;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 20;
}
.sider_weap{
	position: absolute;
	width: 40px;
	height: 270px;
	top: 50%;
	margin-top: -130px;
	text-align: center;
}
.sider_weap li{
	cursor: pointer;
	text-align: center;
	margin-top: 15px;
	width: 40px;
	height: 28px;
	padding: 6px 0;
	position: relative;
}
.sider_weap li:hover{
	background-color: red;
}
.sider_weap li span{
	display: inline-block;
	width: 40px;
	height: 28px;
}
.sider_weap  .zhankai{
	position: absolute;
	width: 88px;
	height: 40px;
	display: inline-block;
	top: 0;
	left: -88px;
	
	line-height: 40px;

	background-color: #fff;
	border-width: 1px 0 1px 1px ;
	border-color: #e3e3e3;
	border-style: solid;
	border-radius: 25px 0 0 25px
}
.sider_weap  .zhankai:hover{
	color: red;
}
.sider_weap  .zhankai div{
	
	position:absolute;
	top: 50%;
	margin-top: -3px;
	right: -6px;
	border-left: 6px solid #fff;
	border-top: 5px solid rgba(1,1,1,0);
	border-bottom: 5px solid rgba(1,1,1,0);
}
.sider_weap .latb{
	position: absolute;
	bottom: 0;
	cursor: pointer;
	padding: 2px 0;
	width: 40px;
	height: 36px;
	text-align: center;
	color: #fff;
}
.sider_weap .latb:hover{
	background-color: red;
}
.sider_weap .latb i{
	position: absolute;
	top: 5px;
	left: 13px;
	border-bottom: 10px solid #fff;
	border-left: 8px solid rgba(1,1,1,0);
	border-right: 8px solid rgba(1,1,1,0);
}
.sider_weap .latb span{
	position: absolute;
	bottom: -5px;
	left: 0;
	font-size: 14px;
	display: inline-block;
	width: 40px;
}
.zhankai_erweima{
	position: absolute;
	top: 0;
	left: -150px;
}
.sider_weap .dis{
	display: none;
}